@import'config';
@import'menu';

*{
    box-sizing: border-box;
}

body {
@include background;
background: $primary-color;
color: set-text-color($primary-color);
height: 100%;
margin: 0;
font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
line-height: 1.5;
}
// headings
h1, h2, 
h3{
    margin: 0;
    font-weight: 400;
    &.lg-heading{
        font-size:6rem;
    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background:rgbg(lighten($primary-color, 2), 0.5);
    }
}
    a {
        color:#fff;
        text-decoration: none;
    }
    header{
        position: fixed;
        z-index:2;
        width:100%
    }
    .text-secondary{
        color: $secondary-color;
    }

main{
    padding: 4rem;
    // height:100%;
    min-height: calc(100vh-60px);

    .icons{
        margin-top:1rem;

        a{
            padding:0.4rem;

            &:hover{
                color:$secondary-color;
                @include easeOut();
            }
        }
    }
    &#home{
        overflow: hidden;
        h1{
            margin-top:20vh;
        }
    }
}


.about-info {
    display:grid;
    grid-gap:30px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3,1fr);
}

.bio-image{
    grid-area: bioimage;
    margin:auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}

.bio{
    grid-area: bio;
    font-size:1.5rem;
}

.job-1{
    grid-area: job1
}

.job-2{
    grid-area: job2
}

.job-3{
    grid-area: job3
}

.job-1, .job-2, .job-3 {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

//Work/Projects
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    
    img{
        width:100%;
        
        border:3px #fff;
        // width: 350px;
        // height: 450px;

        &:hover{
            opacity:0.5;
            border-color:$secondary-color;
            @include easeOut;
            
        }
    }
    
}

//Contact Page
.boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center;
    margin-top:1rem;
    div{
        font-size: 2rem;
        border:3px solid #fff;
        padding: 1.5rem 2.5rem;
        margin-bottom:3rem;
        @include easeOut;
        &:hover{
            padding: 0.5rem 1.5rem;
            background:$secondary-color;
            color:set-text-color($secondary-color);
            span{
                color:set-text-color($secondary-color);
            }
        }
    }
}

//Button Styles
.btn{
    display: block;
    padding:0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    
    &:hover{
        background: $secondary-color;
        color:set-text-color($secondary-color);
    }

}

.btn-dark{
    @extend .btn;
    background: darken($primary-color, 50);
    color:#fff;
}
.btn-light{
    @extend .btn;
    background: lighten($primary-color, 50);
    color:#333;
}
#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color:set-text-color($primary-color);
    height:60px;
    

}

.projects .item{
    height:250px;
    width:150px;
}
// resume
.container{
    float:right;
    width:250px;
    height: 300px;
}

.resume-header{
  color: #eece1a; }
  .container1{text-align: center;
  float:left;
width:60%;
height:75%;
padding:10px;
list-style:none;}

// .container2{
//   text-align: center;
//   float:left;
//   width:25%;
//   height:25%;
//   padding:10px;
//   margin-left:25px;
//   list-style:none;
// }
   #main-footer-resume{
  text-align: center;
  margin-top:90%;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }
  
  #udc, li{
      padding-left: 30px;
    text-align:left;
  }
#udemy{
  color:#ff4d4d
}
#uni{
color:#ff0000;
text-decoration:underline;
}
.cinci{
color:#000000;
text-decoration:underline;
}
@import'mobile';

.dropbtn {
//   background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-decoration: underline;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

// .dropdown:hover .dropbtn {background-color: #3e8e41;}